
*{
  margin: 2px;
}
.app_header{
  margin:0px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
body{
  background-color: #f5f6fa;
}
.app_status{
  display: flex;
  justify-content: space-evenly;
}
.app_left{
  flex:0.9;
}
.App{
  display: flex;
  justify-content: space-evenly;
}


@media only screen and (max-width: 990px) {
  .App{
  flex-direction: column;
}
}
.h1{
  border-bottom: 10px solid red;

}
